@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --right-sec: #023E73;
    --left-sec: #012340;
    --color-detail: #4BF2E2;
    --color-text: #d6dbdfaf;
    --text: #D6DBDF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #030B1E;
    background-image: url('../img/backgound.jpg');
    background-size: cover;
    background-attachment: fixed;
}
span{
    color: var(--color-detail);
}
.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);


    -webkit-box-shadow: -10px 0px 13px -7px var(--color-detail), 10px 0px 13px -7px var(--color-detail), 5px 5px 15px 5px rgba(0,0,0,0.03); 
    box-shadow: -10px 0px 13px -7px var(--color-detail), 10px 0px 13px -7px var(--color-detail), 5px 5px 15px 5px rgba(0,0,0,0.03);
    }

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: var(--left-sec);
}

.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: var(--right-sec);
}

.left-section-content{
    padding: 2rem 2rem;
}

.profile {
    width: 100%;
    border-bottom: 2px solid var(--color-detail);
}

.profile .profile-image {
    width: 90%;
    border-radius: 50%;
    border: 4px solid var(--color-detail);
}
.name {
    color: var(--text);
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
}

.profession {
    color: var(--color-detail);
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.left-title {
    color: var(--color-text);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
}

.contact-info ul {
    padding-top: 1.5rem;
}

.contact-info ul li,
.references ul li {
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: var(--color-text);
    letter-spacing: 1px;
    font-size: 12px;
}

.contact-info ul li i,
.references ul li i {
    padding-right: 0.5rem;
    font-size: 18px;
    color: var(--color-detail);
}

.skills ul {
    padding-top: 1.5rem;
}
.skills ul li p {
    padding: .4rem 0;
    color: var(--color-text);
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.referance-profession {
    font-size: 16px;
    color: var(--color-text);
    letter-spacing: 1px;
    padding-bottom: .4rem;
}
.right-section-contents {
    padding: 2rem 2rem;
}

.right-title {
    color: var(--text);
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;
}

.gap {
    padding-bottom: 2rem;
}
.about-me-contents {
   font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text);
}

.experience-contents,
.education-contents,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
    color: var(--text);
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-detail);
}

.exp-time-period,
.education-school-time,
.awards-time-period {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: .4rem;
}

.exp-position,
.education-subjact,
.awards-name {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text);
    padding-bottom: .1rem;
}
.exp-desc,
.education-desc,
.awards-desc {
    font-size: 14px;
    letter-spacing: 1px;
    border-left: 3px solid var(--color-text);
    padding-left: 5px;
    margin-bottom: .4rem;
}
/* Media queries */
@media screen and (max-width:780px) {
    .experience-contents,
    .education-contents,
    .awards-contents {
        grid-template-columns: repeat(1, 1fr);
    }
    .left-section {
        grid-column: span 3;
    }
    
    .right-section {
        grid-column: span 4;
    }
    .contact-info ul li,
    .references ul li {
        font-size: 14px;
    }
    .contact-info ul li i,
    .references ul li i {
        font-size: 14px;
    }
    .about-me-contents {
        font-size: 12px;
        line-height: 1rem;
    }
    .left-title {
        font-size: 18px;
    }

    .right-title {
        font-size: 20px;
    }
    .exp-company-name,
    .education-school-name,
    .awards-company-name {
        font-size: 16px;
    }

    .exp-time-period,
    .educationp-time-period,
    .awards-time-period {
        font-size: 14px;
    }

    .exp-position,
    .education-subjact,
    .awards-name {
        font-size: 14px;
    }
}
@media screen and (max-width:1200px) {
    .resume-contents {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:390px) {
    .resume-contents {
        width: 100%;
        margin: 0 auto;
    }

    .name {
        font-size: 20px;
    }

    .profession {
        font-size: 16px;
    }

    .left-title {
        font-size: 18px;
    }

    .right-title {
        font-size: 20px;
    }

    .contact-info ul li,
    .references ul li {
        font-size: 15px;
    }

    .contact-info ul li i,
    .references ul li i {
        font-size: 15px;
    }

    .skills ul li p {
        font-size: 15px;
    }

    .about-me-contents {
        font-size: 14px;
        line-height: 1rem;
    }

    .exp-company-name,
    .education-school-name,
    .awards-company-name {
        font-size: 16px;
    }

    .exp-time-period,
    .educationp-time-period,
    .awards-time-period {
        font-size: 14px;
    }

    .exp-position,
    .education-subjact,
    .awards-name {
        font-size: 14px;
    }
}